/* ~~~~~ GLOBAL RULES ~~~~~ */
* {
  font-family: 'Open Sans', sans-serif;
}

html {
  background-color: rgba(225, 225, 225, .9);
  font-size: 1em;
}

nav {
  background-image: url('../assets/planets-nav-bar.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
}
img {
  height: auto;
  max-width: 25%
}

a {
  margin: 0;
}

header {
  background-image: linear-gradient(lavender, #f0eadc, #b9efe1);
  font-size: 1.3em;
}

.main {
  height: 100%;
  width: 100%;
}

/* ~~~~~ GRID RULES ~~~~~ */
.recipient-container {
  background-image: url('../assets/milkyway-background.jpg');
  background-size: cover;
  background-position: center;
  height: 95vh
}
